<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaobo.xiaomaolv.dao.AppDao">

    <select id="queryAllTabBar" resultType="java.util.HashMap">
        select
        id,
        uuid,
        name,
        code,
        level,
        parentId,
        fullName,
        registDatetime,
        icon
        from
        systabbar
    </select>

    <select id="queryAllConfig" resultType="com.xiaobo.xiaomaolv.entity.CostConfig">
        select
        id,
        uuid,
        name,
        type,
        icon,
        remark
        from
        costconfig
    </select>


    <insert id="addCostRecorder" parameterType="com.xiaobo.xiaomaolv.entity.CostRecorder">
         insert into costrecorder
        (id,
        uuid,
        balance,
        configId,
        createDatetime,
        remark,
        userId
        )
        VALUES (
          #{id},#{uuid},#{balance},#{configId},#{createDatetime},#{remark},#{userId}
        )

    </insert>
</mapper>